
:root{
    --text-color:#fff;
    --bg-color:#191f36;
    --main-color:#238dde;
}

.projects-main-container{
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width:1000px) {
    .projects-main-container{
        height: 250vh;
    }
}
.projects-heading{
    width: 100%;
    height: 50px;
    text-align: center;
}
.project-flex-container{
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-container{
    width: 60%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 30px;
    transition: 0.3s;
}
@media (max-width:1000px) {
    .projects-container{
        grid-template-columns: 1fr;
        width: 50%;
    }
}
@media (max-width:500px) {
    .projects-container{
        width: 100%;
    }
}
@media (max-width: 600px) and (min-width:500px) {
    .projects-container{
        width: 70%;
    }
}
.project-card{
    width: 400px;
    height: 300px;

    border-radius: 10px;
    border: 2px solid var(--main-color);
    position: relative;

}
.project-img-container{
    width: 100%;
    height: 80%;
    border-radius: 20px;
    transition: 0.3s;

    position: relative;
    z-index: 2;
}
.project-img-container img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;

    position: absolute;
}
.project-card:hover .project-img-container{
    width: 40%;
    height: 55%;
    border-radius: 50%;
}
.project-card:hover:hover .project-img-container img{
    border-radius: 50%;
    padding: 10px;
}
.project-content-container{
    width: 100%;
    height: 100%;
    border-radius: 20px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.project-content{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    

    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}
.project-title{
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
    border-radius: 10px;

    position: absolute;
    top: 80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-title h2{
    font-size: 18px;
    color: var(--bg-color);
}
.project-description{
    width: 50%;
    height: 75%;
    padding: 10px;

    position: absolute;
    top: 0;
    left: 45%;
}
.project-description p{
    font-family: "Dancing Script", cursive;
    font-size: 20px;
}
.project-link{
    width: 90%;
    height: 35px;

    position: absolute;
    top: 75%;
}
.project-link a, .view-code{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.view-code{
    border: 2px solid var(--main-color);
    background: transparent;
    color: var(--text-color);
    border-radius: 20px;
}